<!DOCTYPE html>
<html>
<head>
  <title>ezTSM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>
<%= render 'shared/create_node_modal' %>

<div id="main-container" class="container">
  <div class="row bg-pink">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
      <%= yield %>
  </div>
</div>

</body>
</html>
