<div class="jumbotron">
  <h1> Search Nodes</h1>
  <p>You searched for: '<%= @filter %>'</p>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="viewNodeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><span id="viewNodeModalHeader"></span></h3>
      </div>
      <div class="modal-body" style="overflow-y: auto">
        <div id="viewNodeModalBodyErrors"></div>
        <div id="viewNodeModalBodyMain"></div>
      </div>
      <div class="modal-footer" hidden="true">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='errors'>
  <h3>
    <% if @select['exit_status'] == 11 -%>
      <div class="text-danger text-center">Unable to find any node matching '<%=@filter %>'</div>
    <% elsif @select['exit_status'] != 0 -%>
      <div class="text-danger text-center">An error occured. Please try again later or contact your ezTSM administrator. Error code: <%= @select['exit_status'] %></div>
    <% end -%>
  </h4>
</div>

<% if @select['exit_status'] == 0 -%>
<table class="table table-striped">
  <tr>
    <% @columns.each do |column| -%>
      <th><% case column 
             when 'node_name'%> Node
          <% when 'platform_name' %> OS
          <% when 'domain_name' %> Domain
          <% when 'option_set' %> Client Option Set
          <% when 'timestamp(lastacc_time, 0)' %> Last Access
          <% end -%>
           </th>
    <% end -%>
    <th width='7%'></th>
  </tr>
 
  <% @nodes.each do |node| -%>
    <tr class="rowDblClick">
      <% node.split(',').each do |node_field| -%>
        <td><%= node_field %></td>
      <% end -%>
      <td><button type="button" class='btn btn-xs btn-primary has-tooltip' title='View or update node' onclick='getNodeNameFromTable(this)'><span class='glyphicon glyphicon-search'></span></button><%= link_to node_path(node_name: node.split(',').first, search: @filter), method: :delete, data: { confirm: "You'e about to delete the node #{node.split(',').first}. Are you sure?" }, class: 'btn btn-xs btn-danger has-tooltip', title:'Delete node', 'data-toggle' => 'tooltip' do %><span class='glyphicon glyphicon-trash'></span><% end %></td>  
    </tr>
  <% end -%>
</table>
<% end -%>
