<div class="modal fade" tabindex="-1" role="dialog" id="user-<%= user.id %>-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if user.new_record? -%>
        <h2 class="modal-title">Create User</h2>
        <% else -%>
        <h2 class="modal-title">Edit User <%= user.login %></h2>
        <% end -%>
      </div>
      <div class="modal-body">
        <div id="errors-<%= user.id unless user.new_record?%>"></div>
        <p>
        <% if user.new_record? -%>
          <%= simple_form_for user, :url => admin_users_path(user), remote: true, :html => {:role => 'form'} do |f| %>
            <%= f.input :login %>
            <%= f.input :email %>
            <%= f.input :description %>
            <%= f.input :password -%>           
            <%= f.input :is_admin, label: 'Administrator', hint: 'Administrators inherit full rights, including managing users and permissions' %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, 'Create user', :class => 'btn btn-primary' %>
      </div>
          <% end -%>
        <% else -%>
          <%= simple_form_for user, :url => admin_user_path(user), remote: true, :html => {:role => 'form'} do |f| %>
            <%= f.input :login %>
            <%= f.input :email %>
            <%= f.input :description %>
            <%= f.input :password, label: 'Change password' %>
            <%= f.input :is_admin, label: 'Administrator', hint: 'Administrators inherit full rights, including managing users and permissions' %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, 'Save changes', :class => 'btn btn-primary' %>
      </div>
          <% end -%>
        <% end -%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
